source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0, netstandard2.0

nuget Aardvark.Build       ~> 1.0.18
nuget Spectre.Console      ~> 0.46.0
nuget Spectre.Console.Cli  ~> 0.46.0